<% @my_deals.each do |deal|  %>
    <div class="border">
    Pokemon: <%= deal.pokemon.name %>
    Buy Date: <%= deal.buy_date %>
    Buy Price: <%= number_to_currency(deal.buy_price) %>
    Current Price: <%= number_to_currency(deal.pokemon.experience*@satoshi_rate) %>
    <% if (deal.pokemon.experience*@satoshi_rate/deal.buy_price).positive? %>
      <i class="fa-solid fa-angles-up" style="color: green;"></i><%= number_with_precision((1-(deal.pokemon.experience*@satoshi_rate/deal.buy_price))*100, precision: 2) %>%
    <% else %>
      <i class="fa-solid fa-angles-down" style="color: red;"></i><%= number_with_precision((1-(deal.pokemon.experience*@satoshi_rate/deal.buy_price))*100, precision: 2) %>%
    <% end %>
  </div>
<% end %>
